.stf{
    text-align: center;
    font-size: 3em;
}
.staff{
    width: 95%;
    overflow: hidden;
    margin-top: 20px auto;
    padding: 20px;
   
}
.staff ul{
    padding: 0;
    margin: 0;
    }
.staff ul li {
    list-style: none;
    float: left;
    width: 20%;
    height: 300px;
    /* border: 3px solid ; */
    border-radius: 5px;
    margin: 0px 66px 250px 0px;
    /* margin-bottom: 250px; */
    /* margin-right: 100px; */
    padding: 50px;
     }
     
.desig{
    margin-left: auto;
}

